/*

Custom Styles by Eman Marcaida

Repository: Hash Generator

*/

html {
    scroll-behavior: smooth;
}

body {
    overflow: hidden;
}

img {
    width: 60%;
}

a:hover {
    color: #ffffff;
}

.top-content,
.leftside,
.rightside {
    width: 100%;
    height: 100vh;
}

.top-content {
    background-image: url('../img/dnrffma.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leftside {
    background: #004B91;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rightside {
    background: #020031;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Custom Preloader */

.loader_bg {
    position: fixed;
    z-index: 999999;
    background: #000000;
    width: 100%;
    height: 100%;
}

.loader {
    border: 0 solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}

.loader:before,
.loader:after {
    content: '';
    border: 1em solid #1C0098;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}

.loader:before {
    animation-delay: 0.5s;
}

@keyframes loader {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}